.imagenes-album {
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 180px;
}

.card img {
  width: 100%;
  height: auto;
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.contenedor-imagen {
  padding-left: 10%;
  padding-right: 10%;
}

.imagenes-album-carousel {
  width: auto;
  height: auto;
  max-height: 500px;
}

.modal {}

.modal-content,
.modal-dialog {
  /* 80% of window height */
  height: 95%;
}

.user-image {
  width: 40px;
  border-radius: 50%;
}

.modal-dialog {}

.modal-content {
  background-color: #ddd;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 60px);
  overflow-y: scroll;
}
@media (min-width: 600px) {
  .card-columns {
    column-count: 5;
  }
}