<div class="container my-3">
  <div class="row">
    <div class="col-md-4">
      <h3>Seleccione Archivos</h3>
      <div NgDropFiles [ngClass]="{'file-over': estaSobreDropZone}" (archivoSobre)="archivoSobreDropZone($event)" [archivos]="archivos" (change)="fileChangeEvent($event)" class="drop-zone well">
        <h4>Suelta los archivos aquí</h4>
        <img src="/assets/img/drop-images.png" alt="">
      </div>
    </div>
    <div class="col-md-8" style="margin-botton:40px">
      <h3>Cargar Archivos </h3>

      <button type="button" class="btn btn-success" (click)="cargarImagenes()" [disabled]="archivos.length == 0 || !permiteCargar">Cargar imagenes</button>
      <button type="button" class="btn btn-danger" (click)="limpiarArchivos()" [disabled]="">Limpiar archivos</button>
      <table class="table" [hidden]="archivos.length == 0">
        <thead class=" thead-inverse ">
          <tr>
            <th>Título</th>
            <th>Nombre</th>
            <th>Tamaño</th>
            <th>Progreso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivos">
            <td><input type="text" placeholder="Título" name="title" [(ngModel)]="archivo.title"></td>
            <td [ngClass]="{'text-green': archivo.estaSubiendo}">
              <strong>{{archivo.nombreArchivo}}</strong>
            </td>
            <td>
              {{archivo.archivo.size/1024/1024| number:'.2'}}MB
            </td>
            <td>
              <i *ngIf="!archivo.completo && !archivo.error" [ngClass]="{'fa-spin' : archivo.cargando}" class="fa fa-spinner fa-lg text-warning" aria-hidden="true"></i>
              <i [ngClass]="{'fa fa-check fa-lg text-success' : archivo.completo}" aria-hidden="true"></i>
              <i [ngClass]="{'fa fa-exclamation-circle fa-lg text-danger' : archivo.error}" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>